folium
streamlit-folium
Markdown
markdown-it-py
MarkupSafe
matplotlib
numerize==0.12
numpy
oauthlib
openpyxl
opt-einsum
packagin
pandas
pandas-profiling
streamlit
streamlit-apexjs
streamlit-card
streamlit-elements
streamlit-option-menu
streamlit-pandas-profiling
plotly
plotly-express
scikit-learn
seaborn
